img{
    max-width: 100%;
    height: auto;
}
.wpb_bigshop_tabs > .vc_controls{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    visibility: visible;
    position: relative;
    height: 23px;
    margin: 18px 0 2px;
    border: 1px dotted #e6e6e6;
    border-bottom-width: 0;
}
.wpb_bigshop_tabs.vc_shortcodes_container{
    background: 0 0;
}
.wpb_bigshop_tabs.vc_general .vc_tta-tab > a {
    padding: 10px 14px;
}

.wpb_el_type_taxonomy .chosen-container ,
.wpb_el_type_product_attributes .chosen-container {
    min-width: 200px;
    width: 100% !important;
}
.wpb_el_type_taxonomy .chosen-container-multi .chosen-choices li.search-field input[type="text"],
.wpb_el_type_product_attributes .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: auto;
}

.bigshop-wrap .nav-tab{
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    color: #444;
}
.bigshop-wrap .nav-tab:first-child{
    margin-left: 15px;
}
.bigshop-wrap  .nav-tab.active{
    background-color: #f1f1f1;
    border-bottom-color: transparent;
}
.nav-tab:first-child{
    margin-left: 0;
}
#tabs-container .tab-content{
    overflow: hidden;
    padding-top: 30px;
    padding-left: 15px;
}

.rp-row{
    margin: 0 -1rem;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.rp-col{
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    max-width: 20%;
}
.bigshop-wrap .plugins .plugin {
    position: relative;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: #fff;
}
.bigshop-wrap .plugins .plugin .preview{
    float: none;
    padding: 10px;
}
.bigshop-wrap .plugins .plugin .preview img{
    width: 100%;
    height:auto;
}
.bigshop-wrap .plugins .plugin .plugin-name,
.bigshop-wrap .plugins .plugin .actions{
    margin: 0;
    padding: 20px 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    width: 100%;
    float: left;
    display: block;

}
.bigshop-wrap .plugins .plugin h3{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.bigshop-wrap .plugins .plugin .actions .button{
    display: none;
}
.bigshop-wrap .plugins .plugin.plugin-inactive .actions .button-activate-plugin,
.bigshop-wrap .plugins .plugin.plugin-update  .button-update-plugin,
.bigshop-wrap .plugins .plugin.not-intall .actions .button-install-plugin,
.bigshop-wrap .plugins .plugin.is-active .actions .button-uninstall-plugin,
.bigshop-wrap .plugins .plugin.no-intall .actions .button-install-plugin{
    display: inline-block;
}
.suport-item{
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.coming-soon::before {
    background: rgba(255,255,255,.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    content: '';
    display: inline-block;
}
.coming-soon::after {
    content: 'COMING SOON';
    top: 50%;
    left: 50%;
    font-size: 12px;
    letter-spacing: 3px;
    white-space: nowrap;
    background: #000;
    color: #fff;
    padding: 3px 10px;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
}
@media (max-width: 1200px){
    .rp-col{
        -ms-flex-preferred-size: 33.333333%;
        -webkit-flex-basis: 33.333333%;
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 991px){
    .rp-col{
        -ms-flex-preferred-size: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px){

}
@media (max-width: 480px){
    .rp-col{
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;

    }
}
@media (max-width: 320px){

}

#bigshop_testimonial_option:before,
#bigshop_testimonial_option:after{
    content: '';
    display: table;
}
#bigshop_testimonial_option:after{
    clear: both;
}
.postbox .inside:before,
.postbox .inside:after{
    content: '';
    display: table;
}
.postbox .inside:after{
    clear: both;
}
.dashboard-intro{
    overflow: hidden;
    margin-bottom: 50px;
    max-width: 1000px;
}
.dashboard-intro .image{
    width: 50%;
    float: left;
    background-color: #fff;
    padding: 10px;
}
.dashboard-intro .intro{
    overflow: hidden;
    padding-left: 30px;
}
.dashboard-intro .intro p{
    font-size: 18px;
    margin-top: 0;
}
.dashboard-intro .intro a{
    text-decoration: none;
}
.dashboard-intro .intro h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.dashboard h1{
    font-size: 50px;
}
.dashboard  .about-text{
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 50px;

}
.bigshop-wrap .nav-tab:focus, .bigshop-wrap .nav-tab:hover{
    background-color: transparent;
}
.menu-item-settings{
    overflow:hidden;
}