<div class='progress-msg'>Sun, 15 Oct 2017 03:21:41 +0000</div>
<div class="progress-msg">[03:21:41] Composing titles...</div>
<div class="progress-msg">[03:21:41] Composing excerpts...</div>
<div class="progress-msg">[03:21:41] Composing authors...</div>
<div class="progress-msg">[03:21:41] Composing slugs...</div>
<div class="progress-msg">[03:21:41] Composing menu order...</div>
<div class="progress-msg">[03:21:41] Composing contents...</div>
<div class="progress-msg">[03:21:41] Composing dates...</div>
<div class="progress-msg">[03:21:41] Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">[03:21:41] Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">[03:21:41] Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">[03:21:41] Composing custom parameters...</div>
<div class="progress-msg">[03:21:41] Composing URLs for images...</div>
<div class="progress-msg">[03:21:41] Composing URLs for attachments files...</div>
<div class="progress-msg">[03:21:41] Composing unique keys...</div>
<div class="progress-msg">[03:21:41] Processing posts...</div>
<div class="progress-msg">[03:21:41] Data parsing via add-ons...</div>
<div class="progress-msg">[03:21:42] Composing product data...</div>
<div class="progress-msg">[03:21:42] Composing variations attributes...</div>
<div class="progress-msg">[03:21:42] ---</div>
<div class="progress-msg">[03:21:42] Record #1</div>
<div class="progress-msg">[03:21:42] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:42] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:42] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:42] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:42] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:42] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:42] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:42] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product`</div>
<div class="progress-msg">[03:21:42] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-00_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-00_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:42] - Attachment with ID: `1563` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-00_1.jpg`</div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-01_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-01_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:42] - Attachment with ID: `1564` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-01_1.jpg`</div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-02.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-02.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:42] - Attachment with ID: `1565` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-02.jpg`</div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-03.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-03.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:42] - Attachment with ID: `1566` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-03.jpg`</div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-04.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-04.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:42] - Attachment with ID: `1567` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-04.jpg`</div>
<div class="progress-msg">[03:21:42] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-05.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:42] - Using existing image `ba-tw-9076a-bkx2-05.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1568` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-05.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-06_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-bkx2-06_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1569` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-06_1.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-07.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-bkx2-07.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1570` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-07.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-bkx2-08.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-bkx2-08.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1571` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-bkx2-08.jpg`</div>
<div class="progress-msg">[03:21:43] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:43] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product` (ID: 1562)</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:43] ---</div>
<div class="progress-msg">[03:21:43] Record #2</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:43] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product`</div>
<div class="progress-msg">[03:21:43] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-00_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-00_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1573` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-00_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-01_3.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-01_3.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1574` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-01_3.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-02_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-02_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1575` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-02_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-03_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-03_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1576` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-03_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-04_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-04_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1577` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-04_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-05_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-05_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1578` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-05_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-06_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-06_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1579` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-06_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-07_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-07_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1580` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-07_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076a-whx2-08.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076a-whx2-08.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1581` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076a-whx2-08.jpg`</div>
<div class="progress-msg">[03:21:43] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:43] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product` (ID: 1572)</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:43] ---</div>
<div class="progress-msg">[03:21:43] Record #3</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:43] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:43] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:43] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product`</div>
<div class="progress-msg">[03:21:43] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-00_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-00_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1583` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-00_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-01_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-01_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1584` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-01_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-02_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-02_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1585` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-02_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-03_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-03_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1586` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-03_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-04_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-04_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1587` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-04_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-05_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-05_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1588` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-05_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-06_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-06_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1589` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-06_2.jpg`</div>
<div class="progress-msg">[03:21:43] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-9076-whx2-07.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - Using existing image `ba-tw-9076-whx2-07.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:43] - Attachment with ID: `1590` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-9076-whx2-07.jpg`</div>
<div class="progress-msg">[03:21:43] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:43] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:43] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:43] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product` (ID: 1582)</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:43] ---</div>
<div class="progress-msg">[03:21:43] Record #4</div>
<div class="progress-msg">[03:21:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:43] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:43] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:43] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:43] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:43] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:43] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:43] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product`</div>
<div class="progress-msg">[03:21:44] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-00_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-00_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1592` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-00_1.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-01.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-01.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1593` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-01.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-02.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-02.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1594` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-02.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-05.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-05.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1595` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-05.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-04_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-04_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1596` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-04_1.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-03.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-03.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1597` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-03.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-06.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-06.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1598` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-06.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-07.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-07.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1599` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-07.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-08.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-08.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1600` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-08.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-09.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-09.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1601` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-09.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-bkx2-10.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-bkx2-10.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1602` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-bkx2-10.jpg`</div>
<div class="progress-msg">[03:21:44] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:44] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product` (ID: 1591)</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:44] ---</div>
<div class="progress-msg">[03:21:44] Record #5</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:44] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:44] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:44] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool White`...</div>
<div class="progress-msg">[03:21:44] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:44] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:44] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool White`</div>
<div class="progress-msg">[03:21:44] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product`</div>
<div class="progress-msg">[03:21:44] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-whx2-00_2.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-whx2-00_2.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1604` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-whx2-00_2.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/B/A/BA-TW-T1185-WHX2-01_3.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `BA-TW-T1185-WHX2-01_3.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1605` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/BA-TW-T1185-WHX2-01_3.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/B/A/BA-TW-T1185-WHX2-02_3.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `BA-TW-T1185-WHX2-02_3.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1606` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/BA-TW-T1185-WHX2-02_3.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/B/A/BA-TW-T1185-WHX2-03_3.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `BA-TW-T1185-WHX2-03_3.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1607` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/BA-TW-T1185-WHX2-03_3.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t1185-whx2-04.jpg` for `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t1185-whx2-04.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool White` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1608` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t1185-whx2-04.jpg`</div>
<div class="progress-msg">[03:21:44] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:44] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool White` `Product` (ID: 1603)</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:44] ---</div>
<div class="progress-msg">[03:21:44] Record #6</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:44] Combine all data for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:44] Find corresponding article among database for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:44] Duplicate post was found for post `Set of 2 PU Leather Kitchen Bar Stool Black`...</div>
<div class="progress-msg">[03:21:44] Deleting attachments for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:44] Deleting images for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:44] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Kitchen Bar Stool Black`</div>
<div class="progress-msg">[03:21:44] <b>UPDATING</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product`</div>
<div class="progress-msg">[03:21:44] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t7009-black-x2-00.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t7009-black-x2-00.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1610` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t7009-black-x2-00.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t7009-black-x2-01.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t7009-black-x2-01.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1611` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t7009-black-x2-01.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t7009-black-x2-02.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t7009-black-x2-02.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1612` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t7009-black-x2-02.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t7009-black-x2-03_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t7009-black-x2-03_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1613` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t7009-black-x2-03_1.jpg`</div>
<div class="progress-msg">[03:21:44] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t7009-black-x2-04_1.jpg` for `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - Using existing image `ba-tw-t7009-black-x2-04_1.jpg` for post `Set of 2 PU Leather Kitchen Bar Stool Black` ...</div>
<div class="progress-msg">[03:21:44] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:44] - Attachment with ID: `1614` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t7009-black-x2-04_1.jpg`</div>
<div class="progress-msg">[03:21:44] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:44] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:44] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:44] <b>UPDATED</b> `Set of 2 PU Leather Kitchen Bar Stool Black` `Product` (ID: 1609)</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:44] ---</div>
<div class="progress-msg">[03:21:44] Record #7</div>
<div class="progress-msg">[03:21:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:44] Combine all data for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`...</div>
<div class="progress-msg">[03:21:44] Find corresponding article among database for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`...</div>
<div class="progress-msg">[03:21:44] Duplicate post was found for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`...</div>
<div class="progress-msg">[03:21:44] Deleting attachments for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`</div>
<div class="progress-msg">[03:21:44] Deleting images for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`</div>
<div class="progress-msg">[03:21:44] Applying filter `pmxi_article_data` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate`</div>
<div class="progress-msg">[03:21:44] <b>UPDATING</b> `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` `Product`</div>
<div class="progress-msg">[03:21:45] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-00_2.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-00_2.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1616` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-00_2.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-01_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-01_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1617` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-01_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-02_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-02_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1618` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-02_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-03_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-03_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1619` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-03_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-04_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-04_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1620` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-04_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-05_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-05_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1621` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-05_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-06_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-06_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1622` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-06_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-07_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-07_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1623` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-07_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-t706-choc-x2-08_1.jpg` for `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-t706-choc-x2-08_1.jpg` for post `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1624` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-t706-choc-x2-08_1.jpg`</div>
<div class="progress-msg">[03:21:45] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:45] <b>UPDATED</b> `Set of 2 PVC Leather Kitchen Bar Stool Chocolate` `Product` (ID: 1615)</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:45] ---</div>
<div class="progress-msg">[03:21:45] Record #8</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:45] Combine all data for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`...</div>
<div class="progress-msg">[03:21:45] Find corresponding article among database for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`...</div>
<div class="progress-msg">[03:21:45] Duplicate post was found for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`...</div>
<div class="progress-msg">[03:21:45] Deleting attachments for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`</div>
<div class="progress-msg">[03:21:45] Deleting images for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`</div>
<div class="progress-msg">[03:21:45] Applying filter `pmxi_article_data` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black`</div>
<div class="progress-msg">[03:21:45] <b>UPDATING</b> `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` `Product`</div>
<div class="progress-msg">[03:21:45] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-00_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-00_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1626` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-00_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-01_1_2.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-01_1_2.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1627` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-01_1_2.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-02_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-02_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1628` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-02_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-03_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-03_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1629` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-03_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-04_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-04_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1630` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-04_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-05_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-05_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1631` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-05_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-06_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-06_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1632` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-06_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-07_1_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-07_1_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1633` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-07_1_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-08.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-08.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1634` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-08.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-bk-08_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8065-bk-08_1.jpg` for post `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1635` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-bk-08_1.jpg`</div>
<div class="progress-msg">[03:21:45] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:45] <b>UPDATED</b> `PU Leather Wooden Kitchen Bar Stool Padded Seat Black` `Product` (ID: 1625)</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:45] ---</div>
<div class="progress-msg">[03:21:45] Record #9</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:45] Combine all data for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Find corresponding article among database for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Duplicate post was found for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Deleting attachments for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`</div>
<div class="progress-msg">[03:21:45] Deleting images for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`</div>
<div class="progress-msg">[03:21:45] Applying filter `pmxi_article_data` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White`</div>
<div class="progress-msg">[03:21:45] <b>UPDATING</b> `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` `Product`</div>
<div class="progress-msg">[03:21:45] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-00_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-00_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1637` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-00_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-01_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-01_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1638` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-01_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-02_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-02_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1639` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-02_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-03_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-03_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1640` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-03_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-04_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-04_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1641` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-04_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-05_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-05_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1642` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-05_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-06_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-06_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1643` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-06_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-07_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-07_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1644` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-07_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-08_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-08_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1645` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-08_1.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-09.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-09.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1646` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-09.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-10.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-10.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1647` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-10.jpg`</div>
<div class="progress-msg">[03:21:45] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8089-whx2-10_1.jpg` for `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - Using existing image `ba-tw-8089-whx2-10_1.jpg` for post `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:45] - Attachment with ID: `1648` has been successfully updated for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8089-whx2-10_1.jpg`</div>
<div class="progress-msg">[03:21:45] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:21:45] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:21:45] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:21:45] <b>UPDATED</b> `Set of 2 PU Leather Wooden Kitchen Bar Stool Padded Seat White` `Product` (ID: 1636)</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[03:21:45] ---</div>
<div class="progress-msg">[03:21:45] Record #10</div>
<div class="progress-msg">[03:21:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[03:21:45] Combine all data for post `PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Find corresponding article among database for post `PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Duplicate post wasn't found for post `PU Leather Wooden Kitchen Bar Stool Padded Seat White`...</div>
<div class="progress-msg">[03:21:45] Applying filter `pmxi_article_data` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White`</div>
<div class="progress-msg">[03:21:45] <b>CREATING</b> `PU Leather Wooden Kitchen Bar Stool Padded Seat White` `Product`</div>
<div class="progress-msg">[03:21:46] Associate post `PU Leather Wooden Kitchen Bar Stool Padded Seat White` with current import ...</div>
<div class="progress-msg">[03:21:46] <b>IMAGES:</b></div>
<div class="progress-msg">[03:21:46] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-00.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:46] - <b>WARNING</b>: Image ba-tw-8065-wh-00.jpg not found in media gallery.</div>
<div class="progress-msg">[03:21:46] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-00.jpg`</div>
<div class="progress-msg">[03:21:47] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-00.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:21:47] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-00.jpg`</div>
<div class="progress-msg">[03:21:48] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:48] - Attachment with ID: `1650` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-00.jpg`</div>
<div class="progress-msg">[03:21:48] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-01.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:48] - <b>WARNING</b>: Image ba-tw-8065-wh-01.jpg not found in media gallery.</div>
<div class="progress-msg">[03:21:48] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-01.jpg`</div>
<div class="progress-msg">[03:21:51] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-01.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:21:51] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-01.jpg`</div>
<div class="progress-msg">[03:21:51] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:51] - Attachment with ID: `1651` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-01.jpg`</div>
<div class="progress-msg">[03:21:51] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-02.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:51] - <b>WARNING</b>: Image ba-tw-8065-wh-02.jpg not found in media gallery.</div>
<div class="progress-msg">[03:21:51] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-02.jpg`</div>
<div class="progress-msg">[03:21:53] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-02.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:21:53] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-02.jpg`</div>
<div class="progress-msg">[03:21:54] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:54] - Attachment with ID: `1652` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-02.jpg`</div>
<div class="progress-msg">[03:21:54] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-03.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:54] - <b>WARNING</b>: Image ba-tw-8065-wh-03.jpg not found in media gallery.</div>
<div class="progress-msg">[03:21:54] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-03.jpg`</div>
<div class="progress-msg">[03:21:56] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-03.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:21:56] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-03.jpg`</div>
<div class="progress-msg">[03:21:57] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:21:57] - Attachment with ID: `1653` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-03.jpg`</div>
<div class="progress-msg">[03:21:57] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-04.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:21:57] - <b>WARNING</b>: Image ba-tw-8065-wh-04.jpg not found in media gallery.</div>
<div class="progress-msg">[03:21:57] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-04.jpg`</div>
<div class="progress-msg">[03:22:00] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-04.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:00] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-04.jpg`</div>
<div class="progress-msg">[03:22:00] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:00] - Attachment with ID: `1654` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-04.jpg`</div>
<div class="progress-msg">[03:22:00] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-05.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:22:01] - <b>WARNING</b>: Image ba-tw-8065-wh-05.jpg not found in media gallery.</div>
<div class="progress-msg">[03:22:01] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-05.jpg`</div>
<div class="progress-msg">[03:22:03] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-05.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:03] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-05.jpg`</div>
<div class="progress-msg">[03:22:03] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:03] - Attachment with ID: `1655` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-05.jpg`</div>
<div class="progress-msg">[03:22:03] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-06.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:22:03] - <b>WARNING</b>: Image ba-tw-8065-wh-06.jpg not found in media gallery.</div>
<div class="progress-msg">[03:22:03] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-06.jpg`</div>
<div class="progress-msg">[03:22:06] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-06.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:06] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-06.jpg`</div>
<div class="progress-msg">[03:22:07] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:07] - Attachment with ID: `1656` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-06.jpg`</div>
<div class="progress-msg">[03:22:07] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-07.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:22:07] - <b>WARNING</b>: Image ba-tw-8065-wh-07.jpg not found in media gallery.</div>
<div class="progress-msg">[03:22:07] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-07.jpg`</div>
<div class="progress-msg">[03:22:09] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-07.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:09] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-07.jpg`</div>
<div class="progress-msg">[03:22:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:10] - Attachment with ID: `1657` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-07.jpg`</div>
<div class="progress-msg">[03:22:10] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:22:10] - <b>WARNING</b>: Image ba-tw-8065-wh-08.jpg not found in media gallery.</div>
<div class="progress-msg">[03:22:10] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08.jpg`</div>
<div class="progress-msg">[03:22:11] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:11] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-08.jpg`</div>
<div class="progress-msg">[03:22:12] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:12] - Attachment with ID: `1658` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-08.jpg`</div>
<div class="progress-msg">[03:22:12] - Importing image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08_1.jpg` for `PU Leather Wooden Kitchen Bar Stool Padded Seat White` ...</div>
<div class="progress-msg">[03:22:12] - <b>WARNING</b>: Image ba-tw-8065-wh-08_1.jpg not found in media gallery.</div>
<div class="progress-msg">[03:22:12] - Downloading image from `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08_1.jpg`</div>
<div class="progress-msg">[03:22:14] - Image `http://www.dropshipzone.com.au/media/catalog/product/b/a/ba-tw-8065-wh-08_1.jpg` has been successfully downloaded</div>
<div class="progress-msg">[03:22:14] - Creating an attachment for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-08_1.jpg`</div>
<div class="progress-msg">[03:22:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">[03:22:15] - Attachment with ID: `1659` has been successfully created for image `http://www.decorcity.com.au/wp-content/uploads/2017/10/ba-tw-8065-wh-08_1.jpg`</div>
<div class="progress-msg">[03:22:15] <b>TAXONOMIES:</b></div>
<div class="progress-msg">[03:22:15] - Importing taxonomy `bigshop_product_brands` ...</div>
<div class="progress-msg">[03:22:15] - Attempted to create parent Product bigshop_product_brands `Decor City`, duplicate detected. Importing Product to existing `Decor City` bigshop_product_brands, ID 191, slug `decor-city` ...</div>
<div class="progress-msg">[03:22:15] - Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">[03:22:15] - Attempted to create parent Product product_cat `Furniture `, duplicate detected. Importing Product to existing `Furniture` product_cat, ID 192, slug `furniture` ...</div>
<div class="progress-msg">[03:22:15] - Attempted to create child Product product_cat ` Bar Stools & Chairs`, duplicate detected. Importing Product to existing `Bar Stools &amp; Chairs` product_cat, ID 193, slug `bar-stools-chairs` ...</div>
<div class="progress-msg">[03:22:15] - Importing taxonomy `product_tag` ...</div>
<div class="progress-msg">[03:22:15] - Attempted to create parent Product product_tag `Chairs`, duplicate detected. Importing Product to existing `Chairs` product_tag, ID 194, slug `chairs` ...</div>
<div class="progress-msg">[03:22:15] <b>CREATED</b> `PU Leather Wooden Kitchen Bar Stool Padded Seat White` `Product` (ID: 1649)</div>
<div class="progress-msg">[03:22:15] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[03:22:15] <b>ACTION</b>: pmxi_after_post_import</div>
